@import "tailwindcss";

body{
    background-color: #f9f9f9;
    height: 100vh;
    position: relative;
}
.auth-page{
    height: 100vh;
    background: url('../public/glass-bg.png') no-repeat center center fixed;
}

/*utilities*/
/* Select any element with the class u-triangle and style its ::before pseudo-element */
/* using the ::before pseudo-element. */
.u-triangle::before{
    content:'';
    position: absolute;
    top:  50%;
    left: -7px;
    width:0 ;
    height: 0;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #3aafae;
}